/* 确保所有 Tab 的文本颜色为黑色 */
.tab-text {
    -fx-text-fill: white; /* 所有 Tab 的文本颜色改为黑色 */
}

/* 隐藏未选中的 Tab */
.tab {
    -fx-alignment: center;
    -fx-background-color: white; /* 设置 Tab 背景为白色 */
    -fx-text-fill: white; /* 设置文本颜色为黑色 */
    -fx-opacity: 0; /* 设置未选中的 Tab 透明度为 0.2 */
    -fx-pref-width: 105px; /* 固定宽度 */
    -fx-tab-max-width: Infinity;
    -fx-pref-height: 45px; /* 固定高度 */
    -fx-font-size: 14px; /* 修改字体大小 */
    -fx-font-family: "Segoe UI", sans-serif; /* 更加美观的字体 */
}

/* 设置选中的 Tab 样式 */
.tab:selected {
    -fx-alignment: center;
    -fx-background-color: white;   /* 选中的 Tab 背景颜色为白色 */
    -fx-text-fill: white;          /* 选中的 Tab 文本颜色为黑色 */
    -fx-opacity: 1;                /* 恢复选中的 Tab 透明度为 1 */
}

/* 如果你想要选中的 Tab 文字更加突出，可以增加样式，比如加粗 */
.tab:selected .tab-text {
    -fx-font-weight: bold;         /* 选中的 Tab 字体加粗 */
}

#contentPane {
    -fx-background-color: purple;
}
#deviceInfoPane{
    -fx-background-color: white;
}
#cpuPane {
    -fx-background-color:blue;
}
#cpuPaneLabel{
    -fx-background-color: white;
}

#gpuPane {
    -fx-background-color:yellow;
}
#gpuPaneLabel{
    -fx-background-color: white;
}


#specialFunctionPane {
    -fx-background-color:red;
}

#topRootPane {
    -fx-background-color: green;
}



/* 设置 ListView 默认背景颜色为灰色 */
#menuListView {
    -fx-background-color: #d3d3d3; /* 默认灰色背景 */
    -fx-border-color: #ccc; /* 边框颜色 */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0, 0, 1); /* 轻微阴影效果 */
}

/* 设置 ListView 中项的样式 */
#menuListView .list-cell {
    -fx-background-color: #e1e1e1; /* 白色背景 */
    -fx-text-fill: #333333; /* 黑色文本 */
    -fx-font-size: 20px; /* 增大字体大小 */
    -fx-font-family: "Segoe UI", sans-serif; /* 更加美观的字体 */
    -fx-border-color: transparent; /* 去除项的边框 */
    -fx-background-radius: 4px; /* 圆角 */
}

/* 设置 ListView 项被点击时的背景颜色 */
#menuListView .list-cell:focused {
    -fx-background-color: #ffffff; /* 被点击时背景颜色 */
    -fx-text-fill: #333333; /* 保持文本颜色 */
}

/* 设置鼠标悬停时项的样式 */
#menuListView .list-cell:hover {
    -fx-cursor: hand; /* 鼠标指针变成手形 */
}

/* 设置选中项的样式 */
#menuListView .list-cell:filled:selected {
    -fx-background-color: #ffffff; /* 选中项的背景色 */
    -fx-text-fill: black; /* 选中项文本颜色 */
}

/* 设置 ListView 中的条目间距 */
#menuListView .list-cell {
    -fx-spacing: 10px; /* 条目之间的间隔 */
}
